<div>
  <div>
    <h4>クリックすると出ます</h4>
    <div onclick="midashi1()" class ="btn">見出し1</div>
    <div onclick="midashi2()" class ="btn">見出し2</div>
    <div onclick="midashi3()" class ="btn">見出し3</div>
    <div onclick="midashi4()" class ="btn">見出し4</div>
    <div onclick="midashi5()" class ="btn">見出し5</div><br>
    <div onclick="link()" class="btn">リンク</div>
    <div onclick="image_link()" class="btn">画像用リンク</div>
    <dev onclick="youtube()" class="btn">Youtube用リンク</dev>
  </div>
  <div>
    <h4>範囲指定してクリックすると出ます</h4>
    <div onclick="futoji()" class ="btn">太字</div>
    <div onclick="inline()" class ="btn">インライン</div>
    <div onclick="uchikeshi()" class ="btn">打ち消し</div>
    <div onclick="simple_list()" class="btn">リスト</div>
    <div onclick="num_list()" class="btn">数字リスト</div>
    <div onclick="quote()" class="btn">引用</div>
  </div>
</div>