<div>
  <div>
    <h4>クリックすると出ます</h4>
    <button type="button"  onclick="midashi1()" class ="btn btn-secondary btn-sm">見出し1</button>
    <button type="button"  onclick="midashi2()" class ="btn btn-secondary btn-sm">見出し2</button>
    <button type="button"  onclick="midashi3()" class ="btn btn-secondary btn-sm">見出し3</button>
    <button type="button"  onclick="midashi4()" class ="btn btn-secondary btn-sm">見出し4</button>
    <button type="button"  onclick="midashi5()" class ="btn btn-secondary btn-sm">見出し5</button><br>
    <button type="button"  onclick="link()"     class="btn btn-secondary btn-sm">リンク</button>
    <button type="button"  onclick="image_link()" class="btn btn-secondary btn-sm">画像用リンク</button>
    <button type="button"  onclick="youtube()"  class="btn btn-secondary btn-sm">Youtube用リンク</button>
  </div>
  <div>
    <h4>範囲指定してクリックすると出ます</h4>
    <button type="button" onclick="futoji()" class ="btn btn-secondary btn-sm">太字</button>
    <button type="button" onclick="inline()" class ="btn btn-secondary btn-sm">インライン</button>
    <button type="button" onclick="uchikeshi()" class ="btn btn-secondary btn-sm">打ち消し</button>
    <button type="button" onclick="simple_list()" class="btn btn-secondary btn-sm">リスト</button>
    <button type="button" onclick="num_list()" class="btn btn-secondary btn-sm">数字リスト</button>
    <button type="button" onclick="quote()" class="btn btn-secondary btn-sm">引用</button>
  </div>
</div>