<h1>ブログ詳細</h1>
<p>IDと内容が出ます</p>
<%= @blog.id%>
<%= @blog.content%>
<%= link_to "編集", edit_blog_path %>
<%= link_to "破棄", @blog, method: :delete,
                                  data: { confirm: "You sure?" } %>