<h1>楽しいブログ</h1>
<%=link_to("signup") do %>
新規登録
<%end%>
<%=link_to("login") do %>
ログイン
<%end%>

<ul class="blogs">
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to User.all.find_by(id: blog.user_id).name, "user/#{blog.user_id}" %>
      <%= link_to blog.content, blog %>
    </li>
  <% end %>
</ul>