<%= render 'layouts/header' %>
<h1>楽しいブログ</h1>

<ul class="blogs">
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to User.all.find_by(id: blog.user_id).name, "user/#{blog.user_id}" %>
      <%= link_to blog.title, blog %>
    </li>
  <% end %>
</ul>
